@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #9d226b;
}

header {
  background: #21124d;
  padding: 20px;
}

header > h1 {
  color: white;
  text-align: center;
}


.calc {
  background: #21124d;
  font-size: 28px;
  margin: 1em auto;
  width: 15em;
  padding: 1em;
  border: 0.5px solid #ffa883;
  border-radius: 10%;
}

.viewer {
  background: white;
  text-align: right;
  margin: 0.5em auto;
  float: right;
  width: 8em;
  height: 1em;
  line-height: 1em;
  text-overflow: ellipsis;
}

button {
  font-size: 28px;
  width: 2em;
  height: 2em;
  margin: 0.5em;
  border-radius: 25%;
  border: 0;
  transition: all 1s;
}

.num {
  /* border: 2px solid black; */
  color: white;
  background: rgb(0, 180, 180);
  transition: all 1s;
}

.clearCalc {  
  color: white;
  background-color: #ff1f62;
  float: left;
}

.ops {
  color: white;
  background: #fe7eff;
}

.equals {
  color: white;
  background: #5b2eaa;
}

.top-flex {
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;
  align-items: inherit;
}